.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 70px;
    grid-gap: 2em;
}
.about-section{
   padding: 15px;
  border-style: solid;
  border-radius: 8px;
}
.professionalism-section{
    padding: 15px;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    
}

.coding-section{
    padding: 15px;
    border-style: solid;
    border-radius: 8px;
}
.social-section{
    padding: 15px;
    border-style: solid;
    border-radius: 8px;
  
}
.about-header, .prof-header, .coding-header, .social-header{
    text-align: center;
    font-size: 35px;
    color: rgb(191, 25, 25);
}
.about-p, .prof-p, .coding-p, .social-p{
    font-size: 20px;
    color: gray;
}



.join-btn{
    height: 50px;
    width: 180px;
    position: relative;
    color: rgb(191,25,25);
    font-size: 20px;
    font-weight: 700;
    left: 340px;
    top: 30px;
    cursor: pointer;
    margin: auto;
    border: none;
    background: white;
    display: inline-block;
    transition: 0.5s;
}
.join-btn:hover{
    opacity: 75%;
    padding-right: 24px;
    padding-left: 8px;
    transition: 0.5s;
}
.join-btn:hover:after{
    opacity:1;
    right: 10px;
    transition: 0.5s;

}
.join-btn:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}