.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.about-section{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 15px;
}
.professionalism-section{
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: right;
    padding-right: 15px;
}
.coding-section{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    padding-left: 15px;
}
.social-section{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    text-align: right;
    padding-right: 15px;
}
.about-header, .prof-header, .coding-header, .social-header{
    text-align: center;
    font-size: 35px;
    color: rgb(191, 25, 25);
}
.about-p, .prof-p, .coding-p, .social-p{
    font-size: 20px;
    color: gray;
}
.about-pic{
    grid-row-start: 1;
}
.prof-pic{
    grid-row-start: 2;
}
.coding-pic{
    grid-row-start: 3;
}
.social-pic{
    grid-row-start: 4;
}
.join-btn-container{
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
.join-btn{
    background-color: rgb(191, 25, 25);
    height: 50px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.join-btn:hover{
    opacity: 75%;
}